.app {
  margin: 0 auto;
  width: 800px;
  max-width: 96.75%;
  padding: 2rem 0;
  position: relative;

  .game-result-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #112233, $alpha: 0.3);

    .game-result {
      background-color: #6ae9ff;
      padding: 1rem;
      box-shadow: 10px 10px 10px #cdcdcd;
      width: 300px;

      h3 {
        margin: 0;
        border-bottom: 1px solid #cdcdcd;
      }

      div {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        span {
          display: block;
          padding: 0.25rem;

          strong {
            float: right;
          }
        }
      }

      button {
        float: right;
        margin-top: 1rem;
        border: none;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }
}
